<section>
  <div class="row tile_count">
    <div class="col-md-2 col-xs-12">
      <i class="count_top">Total de testes</i>
      <div class="count">2500</div>
      <span class="count_top">
        <i class="green">4%</i>
        Da última semana
      </span>
    </div>

    <div class="col-md-2 col-xs-12 tile_stats_count">
      <i class="count_top">Total de erro</i>
      <div class="count">2500</div>
      <span class="count_top">
        <i class="glyphicon glyphicon-chevron-up red"></i>
        <i class="red">4%</i>
        Da última semana
      </span>
    </div>
    <div class="col-md-2 col-xs-12 tile_stats_count">
      <i class="count_top">Total de sucesso</i>
      <div class="count">2500</div>
      <span class="count_top">
        <i class="glyphicon glyphicon-chevron-down green"></i>
        <i class="green">4%</i>
        Da última semana
      </span>
    </div>
    <div class="col-md-2 col-xs-12 tile_stats_count">
      <i class="count_top">Tempo médio</i>
      <div class="count">250 seg</div>
      <span class="count_top">
        <i class="glyphicon glyphicon-chevron-down green"></i>
        <i class="green">4%</i>
        Da última semana
      </span>
    </div>
    <div class="col-md-2 col-xs-12 tile_stats_count">
      <i class="count_top">Total de testes</i>
      <div class="count">2500</div>
      <span class="count_top">
        <i class="glyphicon glyphicon-chevron-down green"></i>
        <i class="green">4%</i>
        Da última semana
      </span>
    </div>
    <div class="col-md-2 col-xs-12 tile_stats_count">
      <i class="count_top">Total de testes</i>
      <div class="count">2500</div>
      <span class="count_top">
        <i class="glyphicon glyphicon-chevron-down green"></i>
        <i class="green">4%</i>
        Da última semana
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-7"></div>
    <div class="col-md-6 col-xs-7"></div>
  </div>
</section>
